/*公共css*/
html,
body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
div,
select,
option {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, tahoma, arial, "WenQuanYi Micro Hei", Verdana, sans-serif, "\5B8B\4F53";
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: white!important;
}
span {
  display: inline-block;
}
ul,
li {
  list-style: none;
}
input,
select {
  font-family: sans-serif;
  margin: 0;
  vertical-align: middle;
  text-transform: none;
  outline: none;
}
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.last {
  border-bottom: none !important;
}
.h10 {
  height: 10px;
  background-color: #F4F4F4;
}
.container {
  /*  margin: 0 auto;*/
  height: 100%;
}
.aside {
  float: left;
  height: 100%;
  margin-left: 30px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 330px;
  background-color: #ececec;
}
.aside dl {
  padding: 10px 20px 10px 20px;
}
.aside dl dt {
  width: 100%;
}
.aside dl dt select {
  width: 100%;
  height: 34px;
  line-height: 30px;
  text-indent: 10px;
  font-size: 16px;
}
.aside dl dt select option {
  height: 34px;
  text-indent: 10px;
  line-height: 30px;
}
.aside dl dd {
  clear: both;
  padding: 10px 0;
  margin-top: 10px;
  border-radius: 3px;
  background-color: #fbfbfb;
}
.aside dl dd ul {
  overflow: hidden;
}
.aside dl dd ul .green span {
  background-color: #13d400 ;
}
.aside dl dd ul .red span {
  background-color: #df0007;
}
.aside dl dd ul li {
  float: left;
  width: 25%;
  text-align: center;
}
.aside dl dd ul li span {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #aaaaaa;
}
.aside dl dd ul li p {
  margin: 3px 0;
}
.aside .card .title {
  height: 28px;
  margin-left: 15px;
  margin-right: 15px;
  line-height: 28px;
  background-color: #dbdbdb;
  text-indent: 20px;
}
.aside .card .txt {
  padding: 8px 15px 8px 35px;
}
.aside .card .txt p {
  margin: 2px 0;
}
.aside .card .txt p > i {
  display: inline-block;
  width: 35%;
  font-style: normal;
  margin-right: 10px;
}
.aside .card .txt p span {
  width: 60%;
  height: 24px;
  display: inline-block;
  text-align: center;
  border: 1px solid #d5d5d5;
  line-height: 24px;
  background-color: white;
}
.aside .card .txt p span strong {
  display: inline-block;
  font-weight: normal;
  padding-left: 5px;
  margin-right: 10px;
}
.aside .card .txt p span i {
  display: inline-block;
  height: 24px;
  padding-right: 10px;
  line-height: 24px;
  font-style: normal;
  text-align: left;
}
.main {
  height: 100%;
  margin-left: 360px;
  background-color: #f9f9f9;
  position: relative;
}
.main .title {
  background-color: #e8e8e8;
  margin-right: 35px;
}
.main .title span {
  height: 35px;
  line-height: 35px;
  background-color: #579ddb;
  color: white;
  padding: 0 20px;
}
.main #box {
  position: relative;
}
.main #box span {
  display: table;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
}
.main #box span strong {
  display: table-cell;
  vertical-align: middle;
  font-weight: normal;
}
.main #box .num1 {
  width: 6.5%;
  height: 5%;
  line-height: 5%;
  left: 15.5%;
  top: 10.3%;
}
.main #box .num2 {
  width: 4.2%;
  height: 3%;
  left: 30.8%;
  top: 10.5%;
  font-size: 12px;
  line-height: 18px;
}
.main #box .num3 {
  width: 6%;
  height: 3.5%;
  line-height: 24px;
  left: 59.5%;
  top: 7.8%;
}
.main #box .num4 {
  width: 5%;
  height: 3%;
  left: 81.5%;
  top: 6.1%;
}
.main #box .num5 {
  width: 5.3%;
  height: 3.1%;
  left: 4.9%;
  top: 40%;
  font-size: 12px;
}
.main #box .num6 {
  width: 5%;
  height: 3%;
  left: 85%;
  top: 32.8%;
}
.main #box .num7 {
  width: 4.2%;
  height: 3%;
  left: 38.5%;
  top: 80.9%;
  font-size: 12px;
}
.main #box .num8 {
  width: 5%;
  height: 4%;
  left: 89.5%;
  top: 74.6%;
  line-height: 26px;
}
.main #box .num9 {
  width: 6.5%;
  height: 3%;
  left: 75%;
  top: 66.8%;
}
.main #box .num10 {
  width: 4%;
  height: 3%;
  left: 73.2%;
  top: 71%;
  font-size: 12px;
}
.main #box .num11 {
  width: 4%;
  height: 3%;
  left: 79%;
  top: 71%;
  font-size: 12px;
}
.main #box .num12 {
  width: 4%;
  height: 3%;
  left: 73.2%;
  top: 75.5%;
  font-size: 12px;
}
.main #box .num13 {
  width: 4%;
  height: 3%;
  left: 79%;
  top: 75.5%;
  font-size: 12px;
}
.main #box .temp {
  width: 1%;
  height: 36%;
  left: 2.8%;
  top: 35.8%;
  position: relative;
}
.main #box .temp i {
  display: inline-block;
  width: 100%;
  left: 2.8%;
  background-color: #579ddb;
  position: absolute;
  bottom: 0px;
}
.main #box .alarm {
  display: block;
  width: 4.2%;
  height: 6.5%;
  left: 38.5%;
  top: 62.3%;
}
.main #box .alarm img {
  display: inline;
  width: 100%;
}
.main > img {
  max-width: 100%;
  height: 100%;
  position: absolute;
}
